extends utils/layout.pug

block content
  h1(class="text-center") New project
  form(action="/project/new", method="post")
    .form-group
      label(for="title") Title
        span(class="required")
      input#title(type="text"  name="title" class="form-control" placeholder="Title" required)
    .form-group
      label(for="description") Description
        span(class="required")
      textarea#description(name="description" class="form-control" placeholder="Description" rows="3" required)
    .form-group
      label(for="link") Google Play link
        span(class="required")
      input#link(type="url" name="link" class="form-control" placeholder="Link" required)
    .screenshots
      h3 Screenshots 
      input(type="file" id="screenshot__input" class="screenshots__input" multiple)
      .row(class="mb-2 screenshots__list")
        - for (var i = 0; i < 4; i++)
          div(class="col-6 col-md-3 screenshots__list__item" class=`screenshots__list__item__${i}`)
            div(class="bg-light border h-100")  
    button(type="submit" class="btn btn-primary") Create

block scripts
  script(src="scripts/screenshots.js")
