extends utils/layout.pug

block content
  h1(class="text-center") New project
  form(method="post")
    .form-group
      label(for="title") Title
      input#title(type="text"  name="title" class="form-control" placeholder="Title" required)
    .form-group
      label(for="description") Description
      textarea#description(name="description" class="form-control" placeholder="Description" rows="3" required)
    .form-group
      label(for="link") Google Play link
      input#link(type="url" name="link" class="form-control" placeholder="Link" required)
    .form-group
      label(for="icon") Icon
      input#icon(type="file" name="icon" class="form-control" required)
    .icon
    .form-group
      label(for="screenshots") Screenshots
        span(class="required")
      input#screenshots(type="file" name="screenshots" class="form-control" required multiple)
    .screenshots
      .row(class="mb-2 p-2 screenshots__list" id="screenshots__list") 
    button(type="submit" class="btn btn-primary") Create

append scripts
  script(src="scripts/js/screenshots.js")
