button, input[type="submit"], input[type="reset"] {
  margin: 1rem;
}

.header, .footer {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 1px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

tr,td,th {
  border: 1px solid gray;
}

.project__list img {
  width: 48px;
  height: 48px;
}

.project__form label {
  display: block;
}

.project__form .logo {
  width: 48px;
  height: 48px;
}

.project__form .screenshots__container {
  display: flex;
  justify-content: space-between;
}

.project__form .screenshot {
  width: 120px;
  margin-right: 0.5rem;
}