---
layout: layouts/layout.pug
---
nav.flex.justify-center
  a(href="/") 
    img.w-32.h-32(src="./assets/img/favicon.png" alt="Logo")
main.my-20
  .links.flex.flex-col
    each link in data.links
      a.text-6xl.text-primary.underline.text-center(href=link.url)= link.label