.edit-project {
  .edit-form {
    .screenshots {
      &__list {
        &__item {
          cursor: pointer;
          height: 250px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .icon {
      &__item {
        width: 64px;
        height: 64px;
      }
    }
  }
}
